.youtube-container {
    overflow: hidden;
    width: 100%;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16/9;
    /* No clicking/hover effects */
    pointer-events: none;
} 

.youtube-container iframe {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 100%;
    /* ...and bring it back again */
    margin-left: -100%;
}


body {
    background-color: #808080;
}

header {
    background-color: white;
    padding: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#headerImage {
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

h1 {
    font-size: 36pt;
    margin:0;
    display: inline;
}

h3 {
    font-size: 20pt;
}

p {
    font-size: 10pt;
}

main {
    background-color: #FFFFFF;
    border-radius: 10px;
}

aside {
    background-color: #ffffff50;
    border-radius: 10px;
    float: right;
    width: 25%;
}

footer {
    background-color: black;
    border-radius: 10px;
    clear: both;
}

footer p {
    color: white;
}



nav li {
    border: 2px solid white;
    background-color: #37a572;
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
    margin-bottom: 10px;
}

nav li a {
    color: white;
    text-decoration: none;
}

Nav li:hover {
    background-color: #000000;
}

.active {
    background-color: black;
}


main {
    width: 70%;
    float: left;
  }

  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

table {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-collapse: collapse;
}

table,
table th {
    border: 2px solid #F0F0F0;
}

Table tr:nth-child(even) {
    background-color: #F2F2F2;
}

Table tr:hover {
    background-color: wheat;
}

Table th {
    background-color: #339936;
    color: white
}

Nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}